<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Royal Caribbean Alaska Auomation">

	<test thread-count="5" name="Chrome Browser Compatibility Test">
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="baseUrl"
			value="https://www.royalcaribbean.com/alaska-cruises"></parameter>
		<classes>
			<class name="com.royalcarribbean.utility.Driver" />
			<class name="com.royalcarribbean.testobject.LibraryFunctions" />
			<class name="com.royalcarribbean.testcases.TestCase" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5"
		name="Mozilla Firefox Browser Compatibility Test">
		<parameter name="browser" value="firefox"></parameter>
		<parameter name="baseUrl"
			value="https://www.royalcaribbean.com/alaska-cruises"></parameter>
		<classes>
			<class name="com.royalcarribbean.utility.Driver" />
			<class name="com.royalcarribbean.testobject.LibraryFunctions" />
			<class name="com.royalcarribbean.testcases.TestCase" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
